body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow: hidden;
    background-image: url('background.png');
    background-repeat: repeat;
}


.topnav{
    width:100%;
    font-size: 24px;
    background-color: #ffffff;
    float:right;
    text-align: right;
    padding: 00px 100px;
    overflow: hidden;
    border-bottom: solid;
    border-bottom-color: #cccccc;
}

.topnav a.active {
    color: black;
}

.navname {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color:#4aaaa5;
    color:white;
    padding: 30px;
    float:left;
    position:relative;
    left:200px;
}

a {
    position:relative;
    top:30px;
}

a:link {
    text-decoration: none;
    color: #777777;
}

a:visited {
    text-decoration: none;
    color: #444;
}

.wrapper {
    width:960px;
    background-color: #ffffff;
    float:left;
    padding: 0 0px 20px;
    margin:20px 80px;
    border-style: solid;
    border-width: 3px;
    border-color:#dddddd;
}

h1 {
    padding:10px 0px 10px 50px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:#4aaaa5; 
    font-size: 34px;
}

img {
    border-radius: 25px;
    float:left;
    margin:20px 0 0 20px;
}

#AboutMeText {
    margin: 20px 20px 0 340px;
}

.footer {
    text-align: center;
    color: #444;
    border-top: solid;
    border-top-width: 6px;
    border-top-color: #4aaaa5;
    position:absolute;
    bottom:0;
    width: 100%;
    padding: 30px;
    background-color:#666666;
}
